body{


  background-color: #282c34;
  
  
}






#hea{
  font-size: 1cm; 
background-color: aqua;
position: relative; /* Add this to enable relative positioning */
animation-name: move;
animation-name: move;
animation-duration: 6s;
animation-iteration-count: infinite;}



@keyframes move{

from{  

  left:0;
  background-color: aqua;
  color: black;
  



}

to{

  left:60%;

  /* font-size: 2cm;  */
  background-color: yellow;
  color: red;





}


}
#i1{

height: 30px;

width:200px

}




